{
  "openapi": "3.0.1",
  "info": {
    "title": "Lead Bank",
    "description": "Lead Bank's APIs",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.lead.bank"
    },
    {
      "url": "https://api.lead.bank"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "ACH"
    },
    {
      "name": "Account Number"
    },
    {
      "name": "OAuth"
    },
    {
      "name": "Events"
    },
    {
      "name": "Instant Payments"
    },
    {
      "name": "Lending"
    },
    {
      "name": "Simulation"
    },
    {
      "name": "Internal Transfer"
    },
    {
      "name": "Disbursement"
    },
    {
      "name": "Entity"
    },
    {
      "name": "Wire"
    },
    {
      "name": "Originator"
    },
    {
      "name": "Funding"
    },
    {
      "name": "Balances"
    },
    {
      "name": "Compliance"
    },
    {
      "name": "Blockchain Payment"
    }
  ],
  "paths": {
    "/v1/ach": {
      "post": {
        "tags": [
          "ACH"
        ],
        "operationId": "create-an-ach",
        "summary": "Create an ACH",
        "description": "Creates an outgoing ACH.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_number_id",
                  "counterparty",
                  "delivery_type",
                  "sec_code",
                  "transaction_type",
                  "amount",
                  "currency_code",
                  "statement_descriptor"
                ],
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "currency_code": {
                    "$ref": "#/components/schemas/CurrencyCode"
                  },
                  "transaction_type": {
                    "$ref": "#/components/schemas/TransactionType",
                    "description": "ACH transaction type:\n* `credit`: An ACH credit pushes funds from your account to the counterparty.\n* `debit`: An ACH debit will pull funds into your account from the counterparty."
                  },
                  "account_number_id": {
                    "$ref": "#/components/schemas/AccountNumberID"
                  },
                  "counterparty": {
                    "$ref": "#/components/schemas/Counterparty"
                  },
                  "delivery_type": {
                    "$ref": "#/components/schemas/DeliveryType"
                  },
                  "sec_code": {
                    "$ref": "#/components/schemas/OutgoingSecCode"
                  },
                  "statement_descriptor": {
                    "$ref": "#/components/schemas/StatementDescriptor"
                  },
                  "individual_id": {
                    "$ref": "#/components/schemas/IndividualId"
                  },
                  "descriptive_date": {
                    "$ref": "#/components/schemas/DescriptiveDate"
                  },
                  "additional_information": {
                    "$ref": "#/components/schemas/AdditionalInformation"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ACH object created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ach"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ACH"
        ],
        "operationId": "list-all-ach",
        "summary": "List all ACHes",
        "description": "List all ACH objects.",
        "parameters": [
          {
            "name": "account_id",
            "description": "Return ACHes associated with this `account_id`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^account_\\w+$"
            }
          },
          {
            "name": "account_number",
            "description": "Return ACHes associated with this `account_number`.",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 17
            }
          },
          {
            "name": "account_number_id",
            "description": "Return ACHes associated with this `account_number_id`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            }
          },
          {
            "name": "counterparty_account_number",
            "description": "Return ACHes associated with this counterparty's account_number.",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 17
            }
          },
          {
            "name": "direction",
            "description": "Return ACHes with this `direction`.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Direction"
            }
          },
          {
            "name": "status",
            "description": "Return ACHes with this `status`.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AchStatus"
            }
          },
          {
            "name": "transaction_type",
            "description": "Return ACHes with this `transaction_type`.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TransactionType"
            }
          },
          {
            "name": "created_at",
            "description": "A set of filters on the list using the object’s field `created_at`.",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is after the entered timestamp."
                },
                "on_or_after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is the same as or after the entered timestamp."
                },
                "before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is before the entered timestamp."
                },
                "on_or_before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is the same as or before the entered timestamp."
                }
              }
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of objects to be returned.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "description": "A cursor for use in pagination; this is an ID that defines your place in the list.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          },
          {
            "name": "ending_before",
            "description": "A cursor for use in pagination; this is an ID that defines your place in the list.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ACHes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "objects",
                    "has_more"
                  ],
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ach"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Indicates whether more results are available."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "ach_id passed in is not a valid external ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ach/{ach_id}": {
      "get": {
        "tags": [
          "ACH"
        ],
        "operationId": "retrieve-an-ach",
        "summary": "Retrieve an ACH",
        "description": "Retrieve an ACH object.",
        "parameters": [
          {
            "name": "ach_id",
            "description": "ID of the ACH object you want to retrieve.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ach"
                }
              }
            }
          },
          "404": {
            "description": "ach_id passed in is not a valid external ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ACH"
        ],
        "operationId": "update-an-ach",
        "summary": "Update an ACH",
        "description": "Update an ACH object.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "ach_id",
            "description": "ID of the ACH object you want to update.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "metadata"
                ],
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ach"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "ach_id passed in is not a valid external ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ach/{ach_id}/cancel": {
      "post": {
        "tags": [
          "ACH"
        ],
        "operationId": "cancel-an-ach",
        "summary": "Cancel an ACH",
        "description": "Cancel an outgoing ACH.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "ach_id",
            "description": "ID of the ACH to be canceled.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The canceled ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ach"
                }
              }
            }
          },
          "400": {
            "description": "This operation cannot be done on this object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ach/{ach_id}/return": {
      "post": {
        "tags": [
          "ACH"
        ],
        "operationId": "return-an-ach",
        "summary": "Return an ACH",
        "description": "Issue a return against an incoming ACH.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "ach_id",
            "description": "ID of the ACH object to be returned.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^ach_\\w+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "return_code"
                ],
                "properties": {
                  "return_code": {
                    "$ref": "#/components/schemas/OutgoingReturnCode"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The now-returned original ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ach"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "ach_id passed in is not a valid external ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ach/{ach_id}/reverse": {
      "post": {
        "tags": [
          "ACH"
        ],
        "operationId": "reverse-an-ach",
        "summary": "Reverse an ACH",
        "description": "Reverse an outgoing ACH.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "ach_id",
            "description": "ID of the ACH you want to return.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reversal_reason"
                ],
                "properties": {
                  "reversal_reason": {
                    "$ref": "#/components/schemas/ReversalReason"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new reversal ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ach"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "ach_id passed in is not a valid external ACH object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number": {
      "post": {
        "tags": [
          "Account Number"
        ],
        "operationId": "create-an-account-number",
        "summary": "Create an Account Number",
        "description": "Creates an Account Number. Optionally also assigns either a ClientCustomerID or EntityID to the Account Number",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAccountNumberRequest",
                "type": "object",
                "properties": {
                  "account_id": {
                    "$ref": "#/components/schemas/AccountID"
                  },
                  "client_customer_id": {
                    "$ref": "#/components/schemas/ClientCustomerID"
                  },
                  "entity_id": {
                    "$ref": "#/components/schemas/EntityID"
                  },
                  "ach_controls": {
                    "$ref": "#/components/schemas/AchControls"
                  },
                  "wire_controls": {
                    "$ref": "#/components/schemas/WireControls"
                  },
                  "internal_transfer_controls": {
                    "$ref": "#/components/schemas/InternalTransferControls"
                  },
                  "instant_payment_controls": {
                    "$ref": "#/components/schemas/InstantPaymentControls"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                },
                "required": [
                  "account_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                },
                "example": {
                  "code": "operation_not_allowed",
                  "title": "This operation cannot be done on this object.",
                  "detail": "The maximum number of unassigned AccountNumbers has been reached. To create a new AccountNumber please pass in a `client_customer_id`, or assign one of your existing AccountNumbers.",
                  "status": "400"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Account Number"
        ],
        "operationId": "list-all-account-number",
        "summary": "List all Account Numbers",
        "description": "List all Account Numbers.",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "example": "account_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_\\w+$"
            },
            "description": "The ID of the account."
          },
          {
            "name": "account_number",
            "in": "query",
            "example": 123412341234,
            "schema": {
              "type": "string"
            },
            "description": "The account number."
          },
          {
            "name": "limit",
            "description": "Maximum number of objects to be returned.",
            "in": "query",
            "example": 10,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the account number to start the list after."
          },
          {
            "name": "ending_before",
            "in": "query",
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the account number to end the list before."
          }
        ],
        "responses": {
          "200": {
            "description": "List of Account Numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountNumber"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number/register": {
      "post": {
        "tags": [
          "Account Number"
        ],
        "operationId": "register-an-account-number",
        "summary": "Register an Account Number",
        "description": "Registers an Account Number.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "RegisterAccountNumberRequest",
                "type": "object",
                "properties": {
                  "account_id": {
                    "$ref": "#/components/schemas/AccountID"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "The account number.",
                    "example": 123412341234,
                    "maxLength": 17,
                    "minLength": 8,
                    "pattern": "^[a-zA-Z0-9]+$"
                  },
                  "client_customer_id": {
                    "$ref": "#/components/schemas/ClientCustomerID"
                  },
                  "entity_id": {
                    "$ref": "#/components/schemas/EntityID"
                  },
                  "ach_controls": {
                    "$ref": "#/components/schemas/AchControls"
                  },
                  "wire_controls": {
                    "$ref": "#/components/schemas/WireControls"
                  },
                  "internal_transfer_controls": {
                    "$ref": "#/components/schemas/InternalTransferControls"
                  },
                  "instant_payment_controls": {
                    "$ref": "#/components/schemas/InstantPaymentControls"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                },
                "required": [
                  "account_id",
                  "account_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                },
                "example": {
                  "code": "operation_not_allowed",
                  "title": "This operation cannot be done on this object.",
                  "detail": "The maximum number of unassigned AccountNumbers has been reached. To create a new AccountNumber please pass in a `client_customer_id`, or assign one of your existing AccountNumbers.",
                  "status": "400"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number/{account_number_id}/assign": {
      "post": {
        "tags": [
          "Account Number"
        ],
        "operationId": "assign-an-account-number",
        "summary": "Assign an Account Number",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "account_number_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^account_number_\\w+$",
              "type": "string"
            },
            "description": "The ID of the Account Number to be assigned.",
            "example": "account_number_xyz"
          }
        ],
        "description": "Assigns an Account Number with either a ClientCustomerID or EntityID. Only one of these should be provided",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "AssignAccountNumberRequest",
                "type": "object",
                "properties": {
                  "client_customer_id": {
                    "$ref": "#/components/schemas/ClientCustomerID"
                  },
                  "entity_id": {
                    "$ref": "#/components/schemas/EntityID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                },
                "example": {
                  "code": "operation_not_allowed",
                  "title": "This operation cannot be done on this object.",
                  "detail": "You cannot assign an already assigned client_customer_id, current value: <client_customer_id>.",
                  "status": "400"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number/{account_number_id}": {
      "patch": {
        "tags": [
          "Account Number"
        ],
        "operationId": "update-an-account-number",
        "summary": "Update an Account Number",
        "description": "Update an Account Number's metadata.",
        "parameters": [
          {
            "name": "account_number_id",
            "in": "path",
            "required": true,
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the Account Number to be updated."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateAccountNumberRequest",
                "type": "object",
                "properties": {
                  "ach_controls": {
                    "$ref": "#/components/schemas/AchControls"
                  },
                  "wire_controls": {
                    "$ref": "#/components/schemas/WireControls"
                  },
                  "internal_transfer_controls": {
                    "$ref": "#/components/schemas/InternalTransferControls"
                  },
                  "instant_payment_controls": {
                    "$ref": "#/components/schemas/InstantPaymentControls"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata",
                    "description": "Updated metadata for the Account Number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                },
                "example": {
                  "code": "parameters_invalid",
                  "title": "Your request parameters did not validate.",
                  "detail": "The field passed in cannot be updated using this API.",
                  "instance": "{#invalid-field-name}",
                  "status": "400"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Account Number"
        ],
        "operationId": "retrieve-an-account-number",
        "summary": "Retrieve an Account Number",
        "description": "Retrieve an Account Number.",
        "parameters": [
          {
            "name": "account_number_id",
            "in": "path",
            "required": true,
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the Account Number to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number/{account_number_id}/activate": {
      "post": {
        "tags": [
          "Account Number"
        ],
        "operationId": "activate-an-account-number",
        "summary": "Activate an Account Number",
        "description": "Activate an Account Number.",
        "parameters": [
          {
            "name": "account_number_id",
            "in": "path",
            "required": true,
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the Account Number to be activated."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "title": "ActivateAccountNumberRequest",
                "type": "object",
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata",
                    "description": "Updated metadata for the Account Number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number/{account_number_id}/deactivate": {
      "post": {
        "tags": [
          "Account Number"
        ],
        "operationId": "deactivate-an-account-number",
        "summary": "Deactivate an Account Number",
        "description": "Deactivate an Account Number.",
        "parameters": [
          {
            "name": "account_number_id",
            "in": "path",
            "required": true,
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the Account Number to be deactivated."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "title": "DeactivateAccountNumberRequest",
                "type": "object",
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata",
                    "description": "Updated metadata for the Account Number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_number/{account_number_id}/cancel": {
      "post": {
        "tags": [
          "Account Number"
        ],
        "operationId": "cancel-an-account-number",
        "summary": "Cancel an Account Number",
        "description": "Cancel an Account Number.",
        "parameters": [
          {
            "name": "account_number_id",
            "in": "path",
            "required": true,
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The ID of the Account Number to be canceled."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "title": "CancelAccountNumberRequest",
                "type": "object",
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata",
                    "description": "Updated metadata for the Account Number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth/token": {
      "post": {
        "security": [],
        "tags": [
          "OAuth"
        ],
        "operationId": "get-an-access-token",
        "summary": "Get an Access Token",
        "description": "Exchange your client credentials for an access code.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "description": "The type of access token you want to request.",
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "client_id": {
                    "description": "Your client ID.",
                    "type": "string",
                    "example": "<client_id>"
                  },
                  "client_secret": {
                    "description": "Your client secret.",
                    "type": "string",
                    "example": "<client_secret>"
                  },
                  "scope": {
                    "description": "A space delimited list of scopes your access token should be provisioned to allow.",
                    "type": "string",
                    "example": "ach/read",
                    "enum": [
                      "account_number/read",
                      "account_number/read_write",
                      "ach/read",
                      "ach/read_write",
                      "wire/read",
                      "wire/read_write",
                      "instant_payment/read",
                      "instant_payment/read_write",
                      "event/read",
                      "internal_transfer/read",
                      "internal_transfer/read_write",
                      "lending/read",
                      "lending/read_write",
                      "entity/read",
                      "entity/read_write",
                      "funding/read",
                      "funding/read_write",
                      "subledger_balance/read",
                      "subledger_balance/read_write",
                      "account/read",
                      "account/read_write",
                      "application/read",
                      "application/read_write",
                      "blockchain_payment/read",
                      "blockchain_payment/read_write"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token exchange",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "description": "A Base64 access token.",
                      "type": "string",
                      "example": "AN_ACCESS_TOKEN"
                    },
                    "token_type": {
                      "description": "The token type.",
                      "type": "string",
                      "example": "Bearer"
                    },
                    "scope": {
                      "description": "A space delimited list of scopes your access token is provisioned for.",
                      "type": "string",
                      "example": "ach/read account_number/read"
                    },
                    "expires_in": {
                      "description": "The number of seconds the access token will expire in.",
                      "type": "integer",
                      "example": 86400
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid parameters in request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code of the response.",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code.",
                      "example": "parameters_invalid"
                    },
                    "title": {
                      "type": "string",
                      "description": "High level description of the error `code`.",
                      "example": "Your request body did not parse."
                    },
                    "detail": {
                      "type": "string",
                      "description": "Why the parameter is invalid.",
                      "example": "Invalid grant type."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/event/{event_id}": {
      "get": {
        "summary": "Retrieve an event",
        "tags": [
          "Events"
        ],
        "description": "Retrieves an event object.",
        "operationId": "retrieve-an-event",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "ID of the Event object you want to retrieve.",
            "schema": {
              "type": "string",
              "example": "event_xyz001",
              "pattern": "^event_\\w+$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An Event object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/event": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List all events",
        "description": "List all event objects.",
        "operationId": "list-all-events",
        "parameters": [
          {
            "name": "events",
            "in": "query",
            "description": "ID of the Event object you want to retrieve.",
            "schema": {
              "type": "array",
              "description": "Return events of these type.",
              "items": {
                "$ref": "#/components/schemas/EventType"
              }
            }
          },
          {
            "name": "created_at",
            "description": "A set of filters on the list using the object’s field `created_at`.",
            "in": "query",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is after the entered timestamp."
                },
                "on_or_after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is the same as or after the entered timestamp."
                },
                "before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is before the entered timestamp."
                },
                "on_or_before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is the same as or before the entered timestamp."
                }
              }
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of objects to be returned.",
            "in": "query",
            "schema": {
              "format": "int32",
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "schema": {
              "type": "string",
              "pattern": "^event_\\w+$"
            },
            "description": "A cursor for use in pagination; this is an Event ID that defines your place in the list.",
            "in": "query"
          },
          {
            "name": "ending_before",
            "schema": {
              "type": "string",
              "pattern": "^event_\\w+$"
            },
            "description": "A cursor for use in pagination; this is an Event ID that defines your place in the list.",
            "in": "query"
          },
          {
            "name": "object_id",
            "in": "query",
            "description": "Filter events by the ID of the associated object (e.g., wire_12345). If the object_id doesn't match the event filter's object type, returns empty results.",
            "schema": {
              "type": "string",
              "pattern": "^(ach|wire|account_number|internal_transfer|disbursement|instant_payment)_\\w+$",
              "example": "wire_12345"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "objects",
                    "has_more"
                  ],
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Indicates whether more results are available."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                },
                "example": {
                  "code": "parameters_invalid",
                  "title": "Your request parameters did not validate.",
                  "detail": "The object_id parameter must be a valid object ID (e.g., ach_xyz, wire_xyz, account_number_xyz, internal_transfer_xyz, or disbursement_xyz).",
                  "status": "422"
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/disbursements": {
      "post": {
        "tags": [
          "Lending"
        ],
        "operationId": "create-a-disbursement",
        "summary": "Create a Disbursement",
        "description": "Creates a disbursement for a loan",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_loan_id",
                  "payment_method",
                  "payment_details"
                ],
                "properties": {
                  "client_loan_id": {
                    "$ref": "#/components/schemas/ClientLoanID"
                  },
                  "payment_method": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  },
                  "payment_details": {
                    "$ref": "#/components/schemas/CreateDisbursementPaymentDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disbursement object created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "409": {
            "description": "A request with the same idempotency key is in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Please try your request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/disbursements/{disbursement_id}": {
      "get": {
        "tags": [
          "Lending"
        ],
        "operationId": "retrieve-a-disbursement",
        "summary": "Retrieve a disbursement",
        "description": "Retrieve a disbursement object.",
        "parameters": [
          {
            "name": "disbursement_id",
            "description": "ID of the disbursement object you want to retrieve.",
            "example": "disbursement_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^disbursement_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A disbursement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          },
          "404": {
            "description": "disbursement_id passed in is not a valid external disbursement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Please try your request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/disbursements/{disbursement_id}/cancel": {
      "post": {
        "tags": [
          "Lending"
        ],
        "operationId": "cancel-a-disbursement",
        "summary": "Cancel a disbursement",
        "description": "Cancel a disbursement.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "disbursement_id",
            "description": "ID of the disbursement object you want to cancel.",
            "example": "disbursement_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^disbursement_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The canceled disbursement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          },
          "400": {
            "description": "This operation cannot be done on this object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "disbursement_id passed in is not a valid external disbursement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "409": {
            "description": "A request with the same idempotency key is in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Please try your request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/simulate/lending/disbursements/{disbursement_id}/advance": {
      "post": {
        "tags": [
          "Lending Simulation"
        ],
        "operationId": "advance-a-disbursement",
        "summary": "Advance Sandbox Disbursement",
        "description": "Advances a disbursement object status in the sandbox environment.",
        "parameters": [
          {
            "name": "disbursement_id",
            "description": "ID of the disbursement object you want to advance.",
            "example": "disbursement_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^disbursement_\\w+$"
            }
          },
          {
            "name": "event",
            "description": "Disbursement webhook event that you want to simulate. Possible values can be found in the Events & Webhooks section.",
            "example": "lending.disbursement.processing",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursement object advanced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disbursement"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "disbursement_id passed in is not a valid external disbursement object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Server error. Please try your request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simulate/ach/incoming_ach": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "operationId": "simulate-incoming-ach",
        "summary": "Simulate Incoming ACH",
        "description": "Simulate an incoming ACH.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_number_id",
                  "sec_code",
                  "transaction_type",
                  "amount",
                  "currency_code",
                  "statement_descriptor",
                  "sender_name",
                  "sender_company_id",
                  "sender_routing_number"
                ],
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "currency_code": {
                    "$ref": "#/components/schemas/CurrencyCode"
                  },
                  "transaction_type": {
                    "$ref": "#/components/schemas/TransactionType"
                  },
                  "account_number_id": {
                    "$ref": "#/components/schemas/AccountNumberID"
                  },
                  "sec_code": {
                    "$ref": "#/components/schemas/OutgoingSecCode"
                  },
                  "statement_descriptor": {
                    "$ref": "#/components/schemas/StatementDescriptor"
                  },
                  "sender_name": {
                    "$ref": "#/components/schemas/SenderName"
                  },
                  "sender_company_id": {
                    "$ref": "#/components/schemas/SenderCompanyID"
                  },
                  "sender_routing_number": {
                    "$ref": "#/components/schemas/SenderRoutingNumber"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incoming ACH object created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simulate/ach/{ach_id}/incoming_return": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "operationId": "simulate-incoming-return",
        "summary": "Simulate Incoming Return",
        "description": "Simulate an incoming Return.",
        "parameters": [
          {
            "name": "ach_id",
            "description": "ID of the ACH object you want to return.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "return_code"
                ],
                "properties": {
                  "return_code": {
                    "$ref": "#/components/schemas/ReturnCode"
                  },
                  "return_additional_information": {
                    "type": "string",
                    "description": "Additional information to be added to the return."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ACH return created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simulate/ach/{ach_id}/advance": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "operationId": "simulate-advance-ach",
        "summary": "Advance Sandbox ACH",
        "description": "Advance an ACH in Sandbox.",
        "parameters": [
          {
            "name": "ach_id",
            "description": "ID of the ACH object you want to advance.",
            "example": "ach_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ach_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ACH Object advanced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal_transfer": {
      "post": {
        "tags": [
          "Internal Transfer"
        ],
        "operationId": "create-an-internal-transfer-v1",
        "summary": "Create an asynchronous Internal Transfer",
        "description": "Creates an asynchronous Internal Transfer.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "minLength": 5
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateInternalTransferRequestV1",
                "type": "object",
                "required": [
                  "sender_account_number_id",
                  "receiver_account_number_id",
                  "amount",
                  "description",
                  "currency_code"
                ],
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/InternalTransferAmount"
                  },
                  "currency_code": {
                    "$ref": "#/components/schemas/CurrencyCode"
                  },
                  "sender_account_number_id": {
                    "$ref": "#/components/schemas/AccountNumberID"
                  },
                  "receiver_account_number_id": {
                    "$ref": "#/components/schemas/AccountNumberID"
                  },
                  "description": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 34,
                    "description": "Statement descriptor for the Internal Transfer",
                    "example": "Internal treasury transfer"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTransferV1"
                },
                "example": {
                  "id": "internal_transfer_xyz123",
                  "amount": 5000,
                  "currency_code": "USD",
                  "sender_account_id": "account_xyz123",
                  "sender_account_number_id": "account_number_xyz123",
                  "receiver_account_id": "account_xyz123",
                  "receiver_account_number_id": "account_number_xyz123",
                  "status": "processing",
                  "description": "string",
                  "metadata": {
                    "additionalProp": "string"
                  },
                  "created_at": "2022-06-27T11:22:33Z",
                  "updated_at": "2022-06-27T11:22:33Z"
                }
              }
            }
          },
          "400": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Internal Transfer"
        ],
        "operationId": "list-all-internal-transfers-v1",
        "summary": "List all Internal Transfers",
        "description": "List all Internal Transfers.",
        "parameters": [
          {
            "name": "sender_account_number_id",
            "in": "query",
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The sender account number ID."
          },
          {
            "name": "receiver_account_number_id",
            "in": "query",
            "example": "account_number_xyz",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            },
            "description": "The receiver account number ID."
          },
          {
            "name": "status",
            "in": "query",
            "example": "posted",
            "schema": {
              "$ref": "#/components/schemas/InternalTransferStatusV1"
            }
          },
          {
            "name": "created_at",
            "description": "A set of filters on the list using the object’s field `created_at`.",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is after the entered timestamp."
                },
                "on_or_after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is the same as or after the entered timestamp."
                },
                "before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is before the entered timestamp."
                },
                "on_or_before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return objects where the `created_at` timestamp is the same as or before the entered timestamp."
                }
              }
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of objects to be returned.",
            "in": "query",
            "example": 10,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "example": "internal_transfer_xyz123",
            "schema": {
              "type": "string",
              "pattern": "^internal_transfer_\\w+$"
            },
            "description": "A cursor for use in pagination; this is an ID that defines your place in the list."
          },
          {
            "name": "ending_before",
            "in": "query",
            "example": "internal_transfer_xyz456",
            "schema": {
              "type": "string",
              "pattern": "^internal_transfer_\\w+$"
            },
            "description": "A cursor for use in pagination; this is an ID that defines your place in the list."
          }
        ],
        "responses": {
          "200": {
            "description": "List of Internal Transfer objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "objects",
                    "has_more"
                  ],
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InternalTransferV1"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Indicates whether more results are available."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal_transfer/{internal_transfer_id}": {
      "get": {
        "tags": [
          "Internal Transfer"
        ],
        "operationId": "retrieve-an-internal-transfer-v1",
        "summary": "Retrieve an Internal Transfer",
        "description": "Retrieve an Internal Transfer.",
        "parameters": [
          {
            "name": "internal_transfer_id",
            "in": "path",
            "required": true,
            "example": "internal_transfer_xyz23",
            "schema": {
              "type": "string",
              "minLength": 5,
              "pattern": "^internal_transfer_\\w+$"
            },
            "description": "The ID of the internal transfer object to be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "An Internal Transfer object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTransferV1"
                }
              }
            }
          },
          "404": {
            "description": "The internal_transfer_id passed in is not a valid InternalTransfer ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wires/{wire_id}": {
      "get": {
        "tags": [
          "Wire"
        ],
        "operationId": "retrieve-a-wire-v1",
        "summary": "Retrieve a wire V1",
        "description": "Retrieve a wire object.",
        "parameters": [
          {
            "name": "wire_id",
            "description": "ID of the wire object you want to retrieve.",
            "example": "wire_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WireV1"
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access this wire.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "wire_id passed in is not a valid external wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Wire"
        ],
        "operationId": "update-a-wire-v1",
        "summary": "Update a wire V1",
        "description": "Update a wire.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "wire_id",
            "description": "ID of the wire object you want to update.",
            "example": "wire_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WireV1"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "wire_id passed in is not a valid wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wires": {
      "get": {
        "tags": [
          "Wire"
        ],
        "operationId": "list-all-wires-v1",
        "summary": "List all wires V1",
        "description": "List all wire objects.",
        "parameters": [
          {
            "name": "account_id",
            "description": "Returns wires associated with this `account_id`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^account_\\w+$"
            }
          },
          {
            "name": "account_number_id",
            "description": "Returns wires associated with this `account_number_id`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^account_number_\\w+$"
            }
          },
          {
            "name": "direction",
            "description": "Returns wires with this `direction`.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/WireDirection"
            }
          },
          {
            "name": "status",
            "description": "Returns wires with this `status`.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/WireStatus"
            }
          },
          {
            "name": "created_at",
            "description": "A set of filters on the list using the object’s field `created_at`.",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Returns objects where the `created_at` timestamp is after the entered timestamp."
                },
                "on_or_after": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Returns objects where the `created_at` timestamp is the same as or after the entered timestamp."
                },
                "before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Returns objects where the `created_at` timestamp is before the entered timestamp."
                },
                "on_or_before": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Returns objects where the `created_at` timestamp is the same as or before the entered timestamp."
                }
              }
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of objects to be returned.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "starting_after",
            "description": "A cursor for use in pagination; this is an ID that defines your place in the list.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          },
          {
            "name": "ending_before",
            "description": "A cursor for use in pagination; this is an ID that defines your place in the list.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of wire objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "objects",
                    "has_more"
                  ],
                  "properties": {
                    "objects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WireV1"
                      }
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Indicates whether more results are available."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access wires.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Your request parameters did not validate. Please confirm your query param.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Wire"
        ],
        "operationId": "create-a-wire-v1",
        "summary": "Create a wire V1",
        "description": "Create a new outgoing wire.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_number_id",
                  "amount",
                  "currency_code",
                  "creditor_agent",
                  "creditor",
                  "remittance_details"
                ],
                "properties": {
                  "account_number_id": {
                    "$ref": "#/components/schemas/AccountNumberID"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/WireAmount",
                    "description": "The amount of the wire in cents."
                  },
                  "currency_code": {
                    "$ref": "#/components/schemas/CurrencyCode"
                  },
                  "creditor_agent": {
                    "$ref": "#/components/schemas/WireAgentRequest",
                    "description": "The financial institution receiving the wire from Fedwire."
                  },
                  "creditor": {
                    "$ref": "#/components/schemas/WireCreditorRequest"
                  },
                  "remittance_details": {
                    "$ref": "#/components/schemas/WireRemittanceDetails",
                    "description": "Remittance details of the creditor.",
                    "required": [
                      "transfer_purpose"
                    ]
                  },
                  "payment_identifiers": {
                    "type": "object",
                    "$ref": "#/components/schemas/WirePaymentIdentifiers",
                    "description": "Payment identifiers of the creditor."
                  },
                  "instructed_agent": {
                    "$ref": "#/components/schemas/WireAgentRequest",
                    "description": "The financial institution that receives the payment via Fedwire. For international wires, this field is primarily used to specify the immediate intermediary in the payment chain following the instructing agent."
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new outgoing wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WireV1"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wires/{wire_id}/return": {
      "post": {
        "tags": [
          "Wire"
        ],
        "operationId": "return-a-wire-v1",
        "summary": "Return a wire V1",
        "description": "Initiate a return against an incoming wire.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "wire_id",
            "description": "ID of the wire object you want to return.",
            "example": "wire_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "return_code"
                ],
                "properties": {
                  "return_code": {
                    "$ref": "#/components/schemas/WireReturnCode"
                  },
                  "return_additional_information": {
                    "type": "string",
                    "description": "Additional details about why the wire is being returned that will be included with the returned wire.",
                    "minLength": 1,
                    "maxLength": 105,
                    "pattern": "^[ \\w/\\-\\?:\\(\\)\\.,'\\+!@#$%^&\\*=`\\{\\|\\}~\";<>\\[\\\\\\]]*[\\w/\\-\\?:\\(\\)\\.,'\\+!@#$%^&\\*=`\\{\\|\\}~\";<>\\[\\\\\\]][ \\w/\\-\\?:\\(\\)\\.,'\\+!@#$%^&\\*=`\\{\\|\\}~\";<>\\[\\\\\\]]*$"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/WireAmount",
                    "description": "The amount to be returned in cents. If not provided, the original wire amount will be used."
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new outgoing return wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WireV1"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "You do not have permission to access wires..",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "wire_id passed in is not a valid wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wires/{wire_id}/cancel": {
      "post": {
        "tags": [
          "Wire"
        ],
        "operationId": "cancel-a-wire-v1",
        "summary": "Cancel a wire V1",
        "description": "Cancel a wire object.",
        "parameters": [
          {
            "name": "wire_id",
            "description": "ID of the wire object you want to cancel.",
            "example": "wire_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated canceled wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WireV1"
                }
              }
            }
          },
          "400": {
            "description": "Operation cannot be done on this object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "wire_id passed in is not a valid external wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simulate/wires/{wire_id}/advance": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "operationId": "simulate-advance-wire",
        "summary": "Advance Sandbox Wire",
        "description": "Advance a Wire in Sandbox.",
        "parameters": [
          {
            "name": "wire_id",
            "description": "ID of the Wire object you want to advance.",
            "example": "wire_xyz001",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wire_\\w+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wire Object advanced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Your request parameters did not validate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "wire_id passed in is not a valid wire object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "We couldn't parse your request body, please check that your request body is valid JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simulate/wires/incoming": {
      "post": {
        "tags": [
          "Simulation"
        ],
        "operationId": "simulate-incoming-wire",
        "summary": "Simulate Incoming Wire",
        "description": "Simulate an incoming Wire.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateIncomingWireRequest"
              }
            }
          }
        },
        "responses": {
[...]
